<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.mapper.RoomMapper">
  <resultMap id="BaseResultMap" type="com.mr.entity.po.Room">
    
    <!-- 记录id -->
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 楼号 -->
    <result column="building_no" jdbcType="VARCHAR" property="buildingNo" />
    
    <!-- 楼层号 -->
    <result column="floor_no" jdbcType="VARCHAR" property="floorNo" />
    
    <!-- 房间号 -->
    <result column="room_no" jdbcType="VARCHAR" property="roomNo" />
    
    <!-- 1小，2中，3大 -->
    <result column="room_size" jdbcType="INTEGER" property="roomSize" />
    
    <!-- 图片 -->
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    
    <!-- 创建时间 -->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <!-- 最后一次更新时间 -->
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    
    <!-- 是否删除，0-没有, 1-已删除 -->
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, building_no, floor_no, room_no, room_size, pic, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mr_room
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mr_room
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    insert into mr_room (id, building_no, floor_no, 
      room_no, room_size, pic, 
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=BIGINT}, #{buildingNo,jdbcType=VARCHAR}, #{floorNo,jdbcType=VARCHAR}, 
      #{roomNo,jdbcType=VARCHAR}, #{roomSize,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective">
    insert into mr_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buildingNo != null">
        building_no,
      </if>
      <if test="floorNo != null">
        floor_no,
      </if>
      <if test="roomNo != null">
        room_no,
      </if>
      <if test="roomSize != null">
        room_size,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="buildingNo != null">
        #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="floorNo != null">
        #{floorNo,jdbcType=VARCHAR},
      </if>
      <if test="roomNo != null">
        #{roomNo,jdbcType=VARCHAR},
      </if>
      <if test="roomSize != null">
        #{roomSize,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update mr_room
    <set>
      <if test="buildingNo != null">
        building_no = #{buildingNo,jdbcType=VARCHAR},
      </if>
      <if test="floorNo != null">
        floor_no = #{floorNo,jdbcType=VARCHAR},
      </if>
      <if test="roomNo != null">
        room_no = #{roomNo,jdbcType=VARCHAR},
      </if>
      <if test="roomSize != null">
        room_size = #{roomSize,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey">
    update mr_room
    set building_no = #{buildingNo,jdbcType=VARCHAR},
      floor_no = #{floorNo,jdbcType=VARCHAR},
      room_no = #{roomNo,jdbcType=VARCHAR},
      room_size = #{roomSize,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByBuildingNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mr_room
    where building_no = #{buildingNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByBuildingNoFloorNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from mr_room
    where building_no = #{buildingNo,jdbcType=VARCHAR} and floor_no = #{floorNo,jdbcType=VARCHAR}
  </select>
  <!-- Generate time: 2020-08-08 11:00:38 ### -->


  <!-- Your codes goes here!!! -->
  
</mapper>