<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.chat.mapper.SessionViewMapper">
  <resultMap id="BaseResultMap" type="com.im.chat.entity.po.SessionView">
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 会话名 -->
    <result column="cvs_name" jdbcType="VARCHAR" property="cvsName" />
    
    <!-- 谁的会话（会话的拥有者） -->
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    
    <!-- 会话类型；0-单聊；1-群聊 -->
    <result column="cvs_type" jdbcType="TINYINT" property="cvsType" />
    
    <!-- 会话关联对象的id，群聊为群id，单聊为用户id -->
    <result column="relation_entity_id" jdbcType="BIGINT" property="relationEntityId" />
    
    <!-- 会话头像url地址 -->
    <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl" />
    
    <!-- 会话的最近一条消息 -->
    <result column="last_message" jdbcType="VARCHAR" property="lastMessage" />
    
    <!-- 最后一条消息发送者 -->
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    
    <!-- 会话的未读消息数 -->
    <result column="unread_message_num" jdbcType="INTEGER" property="unreadMessageNum" />
    
    <!-- 会话最近一条消息发送时间 -->
    <result column="last_message_time" jdbcType="TIMESTAMP" property="lastMessageTime" />
    
    <!-- 会话创建时间 -->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <!-- 会话更新时间 -->
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    
    <!-- 消息免打扰；0-关闭；1-开启；默认关闭 -->
    <result column="not_disturb" jdbcType="TINYINT" property="notDisturb" />
    
    <!--  会话置顶；0-false；1-true；默认false -->
    <result column="stick" jdbcType="TINYINT" property="stick" />
    
    <!-- 扩展字段 -->
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cvs_name, owner_id, cvs_type, relation_entity_id, avatar_url, last_message, sender_name, 
    unread_message_num, last_message_time, create_time, update_time, not_disturb, stick, 
    ext
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from im_session_view
    where id = #{id,jdbcType=BIGINT}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from im_session_view
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert">
    insert into im_session_view (id, cvs_name, owner_id, 
      cvs_type, relation_entity_id, avatar_url, 
      last_message, sender_name, unread_message_num, 
      last_message_time, create_time, update_time, 
      not_disturb, stick, ext
      )
    values (#{id,jdbcType=BIGINT}, #{cvsName,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}, 
      #{cvsType,jdbcType=INTEGER}, #{relationEntityId,jdbcType=BIGINT}, #{avatarUrl,jdbcType=VARCHAR}, 
      #{lastMessage,jdbcType=VARCHAR}, #{senderName,jdbcType=VARCHAR}, #{unreadMessageNum,jdbcType=INTEGER}, 
      #{lastMessageTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{notDisturb,jdbcType=TINYINT}, #{stick,jdbcType=TINYINT}, #{ext,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective">
    <selectKey keyProperty="id" resultType="long">
      select LAST_INSERT_ID()
    </selectKey>
    insert into im_session_view
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cvsName != null">
        cvs_name,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="cvsType != null">
        cvs_type,
      </if>
      <if test="relationEntityId != null">
        relation_entity_id,
      </if>
      <if test="avatarUrl != null">
        avatar_url,
      </if>
      <if test="lastMessage != null">
        last_message,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="unreadMessageNum != null">
        unread_message_num,
      </if>
      <if test="lastMessageTime != null">
        last_message_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="notDisturb != null">
        not_disturb,
      </if>
      <if test="stick != null">
        stick,
      </if>
      <if test="ext != null">
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cvsName != null">
        #{cvsName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="cvsType != null">
        #{cvsType,jdbcType=INTEGER},
      </if>
      <if test="relationEntityId != null">
        #{relationEntityId,jdbcType=BIGINT},
      </if>
      <if test="avatarUrl != null">
        #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="lastMessage != null">
        #{lastMessage,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="unreadMessageNum != null">
        #{unreadMessageNum,jdbcType=INTEGER},
      </if>
      <if test="lastMessageTime != null">
        #{lastMessageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notDisturb != null">
        #{notDisturb,jdbcType=TINYINT},
      </if>
      <if test="stick != null">
        #{stick,jdbcType=TINYINT},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update im_session_view
    <set>
      <if test="cvsName != null">
        cvs_name = #{cvsName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="cvsType != null">
        cvs_type = #{cvsType,jdbcType=TINYINT},
      </if>
      <if test="relationEntityId != null">
        relation_entity_id = #{relationEntityId,jdbcType=BIGINT},
      </if>
      <if test="avatarUrl != null">
        avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      </if>
      <if test="lastMessage != null">
        last_message = #{lastMessage,jdbcType=VARCHAR},
      </if>
      <if test="senderName != null">
        sender_name = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="unreadMessageNum != null">
        unread_message_num = #{unreadMessageNum,jdbcType=INTEGER},
      </if>
      <if test="lastMessageTime != null">
        last_message_time = #{lastMessageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="notDisturb != null">
        not_disturb = #{notDisturb,jdbcType=TINYINT},
      </if>
      <if test="stick != null">
        stick = #{stick,jdbcType=TINYINT},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey">
    update im_session_view
    set cvs_name = #{cvsName,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT},
      cvs_type = #{cvsType,jdbcType=TINYINT},
      relation_entity_id = #{relationEntityId,jdbcType=BIGINT},
      avatar_url = #{avatarUrl,jdbcType=VARCHAR},
      last_message = #{lastMessage,jdbcType=VARCHAR},
      sender_name = #{senderName,jdbcType=VARCHAR},
      unread_message_num = #{unreadMessageNum,jdbcType=INTEGER},
      last_message_time = #{lastMessageTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      not_disturb = #{notDisturb,jdbcType=TINYINT},
      stick = #{stick,jdbcType=TINYINT},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


    <!-- Generate time: 2020-08-21 15:02:21 ### -->


  <!-- Your codes goes here!!! -->
  <select id="selectByUserId" resultType="com.im.chat.entity.po.SessionView">
    select
    <include refid="Base_Column_List" />
    from im_session_view
    where owner_id = #{userId,jdbcType=BIGINT}

  </select>
  <select id="getSessionViewForEntity" resultType="com.im.chat.entity.po.SessionView">
    select
    <include refid="Base_Column_List" />
    from im_session_view
    where owner_id = #{userId,jdbcType=BIGINT} and relation_entity_id = #{entityId,jdbcType=BIGINT} and cvs_type = #{cvsType,jdbcType=TINYINT}
  </select>

  <update id="updateRedundantByuserId">
    update im_session_view
    set cvs_name = #{cvsName,jdbcType=VARCHAR},
        avatar_url = #{avatarUrl,jdbcType=VARCHAR}
    where relation_entity_id = #{relationEntityId,jdbcType=BIGINT}

  </update>
    <update id="updateUnreadNum">
      update im_session_view
      set unread_message_num = unread_message_num + #{unreadNumAdded}
      where id = #{cvsId}
    </update>


  <update id="updateSessionViewWithUnreadMessageNum">
    update im_session_view
    set

        last_message = #{lastMessage,jdbcType=VARCHAR},
        sender_name = #{senderName,jdbcType=VARCHAR},
        unread_message_num = unread_message_num + 1,
        last_message_time = #{lastMessageTime,jdbcType=TIMESTAMP}

     where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUnReaded">
update im_session_view
    set
        unread_message_num = 0,

     where id = #{cvsId,jdbcType=BIGINT}
  </update>


</mapper>