<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.im.com.im.chat.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.im.chat.entity.po.Message">
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- 发送者的id -->
    <result column="sender_id" jdbcType="BIGINT" property="senderId" />
    
    <!-- 发送者姓名 -->
    <result column="sender_name" jdbcType="VARCHAR" property="senderName" />
    
    <!-- 会话的id -->
    <result column="cvs_id" jdbcType="BIGINT" property="cvsId" />
    
    <!-- 消息内容 -->
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    
    <!-- 消息类型：0-文本消息；1-图片消息 -->
    <result column="msg_content_type" jdbcType="TINYINT" property="msgContentType" />
    
    <!-- 接受者实体id -->
    <result column="receiver_entity_id" jdbcType="BIGINT" property="receiverEntityId" />
    
    <!-- 接收实体类型；0-普通用户；1-群 -->
    <result column="receiver_entity_type" jdbcType="TINYINT" property="receiverEntityType" />
    
    <!-- 消息创建时间 -->
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <!-- 扩展字段 -->
    <result column="ext" jdbcType="VARCHAR" property="ext" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sender_id, sender_name, cvs_id, msg, msg_content_type, receiver_entity_id, receiver_entity_type, 
    create_time, ext
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from im_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from im_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert">
    insert into im_message (id, sender_id, sender_name, 
      cvs_id, msg, msg_content_type, 
      receiver_entity_id, receiver_entity_type, create_time, 
      ext)
    values (#{id,jdbcType=BIGINT}, #{senderId,jdbcType=BIGINT}, #{senderName,jdbcType=VARCHAR}, 
      #{cvsId,jdbcType=BIGINT}, #{msg,jdbcType=VARCHAR}, #{msgContentType,jdbcType=TINYINT}, 
      #{receiverEntityId,jdbcType=BIGINT}, #{receiverEntityType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{ext,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective">
    insert into im_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="senderId != null">
        sender_id,
      </if>
      <if test="senderName != null">
        sender_name,
      </if>
      <if test="cvsId != null">
        cvs_id,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="msgContentType != null">
        msg_content_type,
      </if>
      <if test="receiverEntityId != null">
        receiver_entity_id,
      </if>
      <if test="receiverEntityType != null">
        receiver_entity_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ext != null">
        ext,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="senderId != null">
        #{senderId,jdbcType=BIGINT},
      </if>
      <if test="senderName != null">
        #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="cvsId != null">
        #{cvsId,jdbcType=BIGINT},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgContentType != null">
        #{msgContentType,jdbcType=TINYINT},
      </if>
      <if test="receiverEntityId != null">
        #{receiverEntityId,jdbcType=BIGINT},
      </if>
      <if test="receiverEntityType != null">
        #{receiverEntityType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        #{ext,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update im_message
    <set>
      <if test="senderId != null">
        sender_id = #{senderId,jdbcType=BIGINT},
      </if>
      <if test="senderName != null">
        sender_name = #{senderName,jdbcType=VARCHAR},
      </if>
      <if test="cvsId != null">
        cvs_id = #{cvsId,jdbcType=BIGINT},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="msgContentType != null">
        msg_content_type = #{msgContentType,jdbcType=TINYINT},
      </if>
      <if test="receiverEntityId != null">
        receiver_entity_id = #{receiverEntityId,jdbcType=BIGINT},
      </if>
      <if test="receiverEntityType != null">
        receiver_entity_type = #{receiverEntityType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ext != null">
        ext = #{ext,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey">
    update im_message
    set sender_id = #{senderId,jdbcType=BIGINT},
      sender_name = #{senderName,jdbcType=VARCHAR},
      cvs_id = #{cvsId,jdbcType=BIGINT},
      msg = #{msg,jdbcType=VARCHAR},
      msg_content_type = #{msgContentType,jdbcType=TINYINT},
      receiver_entity_id = #{receiverEntityId,jdbcType=BIGINT},
      receiver_entity_type = #{receiverEntityType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ext = #{ext,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- Generate time: 2020-08-30 22:06:43 ### -->


  <!-- Your codes goes here!!! -->
  
</mapper>